#keys{
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-gap: 10px;



}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
display{
    flex-direction: column;
    align-items: center;


}

button{
      width: 30px;
      height: 30px;
      border-radius: 2px;
      border: none;
      background-color: rgb(192, 197, 200);
      color: rgb(221, 162, 74);
      font-size: 1rem;
      font-weight: bold;
      cursor: pointer;
      margin: 2%;
      transition: all 0.3s ease;

}